---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
    <h1 class="mb-10">/no-redirect だけはリダイレクトされません</h1>
    <p>ここは /no-redirect ページです。他のページとは違い、リダイレクトされません。</p>
</Layout>
